/*
Cores que serão usadas no site
Azul color: #87CEFA; | Rosa color: #ffc0cb; | Preto color: #27282b; | Branco color: #f9f9f9; | Branco color: #ffffff 

Fontes usadas no site
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/

body {
	font-family: 'PT Sans', sans-serif;
	color: #27282b;
}

h1{
	color: #87CEFA;
}

/**********************************
 * MENU @arbolitoloco
 **********************************/
nav {
	background-color: #ffffff;
	font-size: 22px;
	height: 150px;
}

nav ul {
	list-style: none;
	margin: 10px;
	padding: 0;
	float: right;
	height: 100px;
	text-align: center;
}

nav li {
	margin: 40px 50px 40px 50px;
	display: inline-block;
	float: left;
}

.navbar-header {
	padding: 20px 10px 10px 10px;
}

.navbar-fixed-top {
	border-top: 10px solid #87CEFA;
	border-bottom: 10px solid #ffc0cb;
}

#navbar-container {
	margin: 0 50px 0 50px;
}
